<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
          <ul class="list-inline text-center">
            <li class="mr-3">© 2017 <span title="0.35556s from unicorn-2455147356-30ghl">MechMech Cosmetic</span>, Inc.</li>
            <li class="mr-3">Facebook</li>
            <li class="mr-3">Instagram</li>
            <li class="mr-3">Youtube</li>
            <li class="mr-3">Pinterest</li>
            <li class="mr-3">Twitter</li>
          </ul>
      </div>
      <div class='row'>
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <ul class="list-inline text-center">
            <li class="mr-3">Privacy Policy</li>
            <li class="mr-3">Term of Use</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>